.new_form {
    &.login {
        width: 80%;
        margin: 1.5rem auto;
    }
    .form-group {
        position: relative;
        margin-bottom: 2.5rem;
        input.form-control {
            border: none;
            border-bottom: 1px solid #eee;
            color: #868e96;
            transition: unset;
            border-radius: unset;
            background-clip: unset;
            padding-left: 0;
            ~ label {
                position: absolute;
                top: 0.4rem;
                color: #aaa;
                cursor: text;
                transition: all 0.2s;
                font-weight: 300;
                &.active {
                    font-weight: bold;
                    font-size: 0.8rem;
                    top: -10px;
                    color: #33b35a;
                }
            }
            &:focus {
                outline: none;
                border-bottom: 2px solid #33b35a;
                box-shadow: none;
            }
        }
    }
}
.login-title {
    margin-bottom: 3rem;
}
