.new_form {
    &.login {
        width: 80%;
        margin: 1.5rem auto;
    }
    .form-group {
        position: relative;
        margin-bottom: 2.5rem;
        input.form-control {
            border: none;
            border-bottom: 1px solid #eee;
            ~ label {
                position: absolute;
                top: 0.4rem;
            }
            &:focus {
                outline: none;
                padding-left: 0;
            }
        }
    }
}
.login-title {
    margin-bottom: 3rem;
}
